@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4c008294;
}


.wrapper {
   width: 790px;
   padding: 35px;
   background: #fff; 
   border-radius: 10px;   
}
  
.typeText{
    width: 790px;
    padding: 35px;
    background: #fff; 
    border-radius: 10px;   
    border: 1px solid #ccc;
 }

 .typeText ::placeholder{
    text-align: left;
    word-break: break-word;
 }

 .typeText .tempoComeco {
    padding: 12px 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
 }
 
.manual{
    width: 700px;
    padding: 35px;
    height: 305px;
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    overflow: hidden;
    font-size: 20px;;
    font-weight: 500;
 }

 .tempoComeco select {
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    background-color: #4B0082;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 9px;
 }

.typeText button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #4B0082;
    transition: transform 0.3s ease;
}

.typeText button:active{
    transform: scale(0.97);
}

.typeText .tempoIntro {
    display: inline;
}

.wrapper .input-field {
    z-index: -999;
    opacity: 0;
    position: absolute;
}

.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.content-box .typing-text{
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span{
    position: relative;
}

.typing-text p span.correct{
    color: #56964f;
}

.typing-text p span.incorrect{
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-text p span.active{
    color: #17a2b8;
}

.typing-text p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}

.content-box .content {
     display: flex;
     margin-top: 17px;
     padding: 12px 0;
     align-items: center;
     border-top: 1px solid #ccc;
     justify-content: space-between;
}

.wrapper button{
    border: none;
    outline: none;
    width: fit-content;
    padding: 4px 6px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #4B0082;
    transition: transform 0.3s ease;
    display: flex;
    margin-bottom: 3px;
}

.wrapper button:active{
    transform: scale(0.97);
}

.content button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #4B0082;
    transition: transform 0.3s ease;
    display: flex;
}

.content button:active{
    transform: scale(0.97);
}

.content .result-details {
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result-details li{
    height: 22px;
    display: flex;
    list-style: none;
    align-items: center;
}

.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}

.result-details li p{
    font-size: 19px;
}

.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li:not(:first-child) span{
    font-weight: 500;
}

.result-details li b{
    font-weight: 500;
}

